.cards-container {
    direction: rtl;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
    padding: 24px;
    justify-items: center;
}

.recipe-card {
    width: 100%;
    max-width: 250px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

.recipe-title {
    color: #3f51b5;
    font-size: 20px;
    font-weight: bold;
    margin: 12px;
}

mat-card-content strong {
    font-weight: 700;
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  text-align: center;
}

.no-results p {
  font-size: 24px;
  font-weight: bold;
}

.filters {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  flex-wrap: wrap;
  margin: 12px;
}

.full-width {
  flex: 1;
  min-width: 200px;
}
