<form class="update-password-form" (ngSubmit)="updatePassword()">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>סיסמא חדשה</mat-label>
        <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="סיסמא חדשה"
            (input)="checkPasswordStrength(newPassword)" />
        <mat-hint *ngIf="!passwordIsStrong && newPassword.length > 0" style="color: red;">
            ⚠️ הסיסמה אינה חזקה. מומלץ לכלול לפחות 8 תווים, אות גדולה, קטנה, מספר ותו מיוחד.
        </mat-hint>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" class="full-width">אישור</button>

    <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
</form>